@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: "Ubuntu",
  sans-serif;
  font-weight: 400;
  font-style: normal;
}

.root {
  display: flex;
}

.App {
  height: 100%;
  display: flex;
}

.outlet {
  z-index: 1;
  padding-left: 370px;
  width: -webkit-calc(100% - 370px);
  width: -moz-calc(100% - 370px);
  width: calc(100% - 370px);
  height: 100%;
  position: fixed;
  background-color: #F1F7F6;
  overflow-y:auto;
}

.menu-background {
  z-index: 10;
  width: 370px;
  background-color: #0F372C;
  position: fixed;
  height: 100%;
}

.logo {
  font-weight: 500;
  font-size: 35px;
  padding-top: 22px;
  margin-left: 29px;
  color: white;
}

.menu-buttons {
  font-size: 22px;
  margin-top: 40px;
  margin-left: 29px;
}

.menu-button {
  display: flex;
  margin-bottom: 37px;
  text-decoration: none;
  color: #9BC1B8;
}

.menu-button:hover {
  display: flex;
  margin-bottom: 37px;
  text-decoration: none;
  color: white;
}

.menu-button-active {
  display: flex;
  margin-bottom: 37px;
  text-decoration: none;
  color: white;
}

.menu-icon{
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.menu-text {
  margin-left: 9px;
}

.debt-counter {
  position: absolute;
  background-color: #E16666;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  left: 15px;
  top: -4px;
}


.dashboard {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  padding-bottom: 30px;
}


.dashboard-title {
  font-weight: 500;
  font-size: 36px;
  margin-top: 22px;
  margin-left: 30px;
}

.chart-title {
  font-weight: 500;
  font-size: 36px;
  padding-top: 16px;
}

.chart {
  background-color: white;
  border-radius: 30px;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.charts-line {
  display: flex;
  flex-direction: row;
}

.main1 {
  width: calc(400px - 30px);
  height: 400px;
}

.main2 {
  width: calc(713px - 30px);
  height: 400px;
}

.main3 {
  width: calc(1143px - 30px);
  height: 400px;
}

.one_number {
  width: calc(220px - 30px);
  height: 134px;
  background-color: #0F372C;
  color: white;
}

.chart-title-small {
  text-align: center;
  margin-left: -30px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 20px;
}

.marks4 {
  width: calc(1337px - 30px);
  height: 400px;
  display: flex;
  flex-direction: row;
}

.marks4_1 {
  background-color: #C6DCD8;
  width: calc(456px - 30px);
  margin-left: -30px;
  border-radius: 30px 0px 0px 30px;
  padding-left: 30px;
}

.calendar-deadlines {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
}

.day-names {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #84928F;
  gap:16px;
}

.day-name {
  width: 38px;
  text-align: center;
  margin-bottom: 11px;

}

.days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  width: 362px;
}

.day {
  outline-offset: -3px;
}

.marks4_2 {
  padding-left: 30px;
  padding-top: 23px;
}

.marks4_col1 {
  width: 146px;
  margin-right: 40px;
  text-align: left;
}

.marks4_col2 {
  width: 250px;
  margin-right: 40px;
  text-align: left;
}

.marks4_col3 {
  width: 300px;
  text-align: left;
}

.scroll_table_marks4 {
  height: 300px;
  width: 820px;
  overflow-y: scroll;
}

.marks5 {
  width: calc(1337px - 30px);
  height: 511px;
}

.marks5-scroll {
  overflow-y: scroll;
  height: 401px;
  margin-top: 23px;
  padding-right: 10px;
}

.marks5-scroll-horiz::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.marks5-scroll-horiz::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

.marks5-scroll-horiz::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

.marks5-table {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 21px;
  color:#222222;
}

.marks5-table-line {
  background-color: #F0F7F6;
  display: flex;
  flex-direction: row;
  height: 119px;
  border-radius: 10px;
  align-items: center;
}

.line-course {
  margin-left: 10px;
  width: 294px;
}

.line-works {
  display: flex;
  align-items: center;
  gap: 29px;
  margin-left: 9px;
}

.line-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  gap: 3px;
}

.marks5-scroll-horiz {
  overflow-x: scroll;
  width: 944px;
  padding-bottom: 10px;
}

.main5_plug {
  margin-right: 0px !important;
  margin-bottom: 0px !important;

}

.marks6_filter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.marks6_filter {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  font-size: 30px;
  align-items: center;
}

.marks6_filter_title {
  margin-right: 4px;
}

.marks6_filter_selector {
  width: 70px;
  height: 50px;
  background-color: #C6DCD8;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.marks6_filter_value {
  width: 30px;
  text-align: center;
}

.marks6_filter_controls {
  cursor: pointer;
  user-select: none;
}

.marks6 {
  width: calc(667px - 30px);
  height: 481px;
}
.marks6_plug{
  width: 98px !important;
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

.mark-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.marks6_plug_line {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-top: 21px;
}

.mark-line-name {
  margin-left: 19px;
  font-size: 24px;
  color: #222222;
}

.attendance5 {
  width: calc(1100px - 30px);
  height: 400px;
}

.attendance5_col1 {
  width: 334px !important;
  margin-right: 47px !important;
}

.attendance5_col2 {
  width: 111px !important;
  margin-right: 33px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.attendance5_col3 {
  width: 111px !important;
  margin-right: 30px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.attendance5_col4 {
  width: 111px !important;
  margin-right: 55px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.attendance5_col5 {
  width: 82px !important;
  margin-right: 110px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.attendance5-margin {
  margin-top: 10px;
}

.attendance5-scroll {
  height: 260px;
  overflow-y: scroll;
}

.debts2 {
  width: calc(1200px - 30px);
  height: 400px;
}

.debts2_col1 {
  width: 334px !important;
  margin-right: 47px !important;
}

.debts2_col2 {
  width: 111px !important;
  margin-right: 43px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.debts2_col3 {
  width: 111px !important;
  margin-right: 43px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.debts2_col4 {
  width: 211px !important;
  margin-right: 75px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.debts2_col5 {
  width: 82px !important;
  margin-right: 70px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
}

.debt2_link {
  color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-svg {
  height: 25px;
  width: 25px;
  margin-right: 4px;
}

.chart-content {
  /* background-color: #9BC1B8; */
  margin-right: 30px;
}

.main1-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.rating-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 110px;
  outline: 23px solid #4D9559;
  outline-offset: -23px;
  font-size: 100px;
}

.main2-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
}

.calendar {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.calendar-col {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
  font-size: 20px;
  color: #84928F;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.calendar-class {
  background-color: #F1F7F6;
  width: 38px;
  height: 38px;
  border-radius: 15px;
}

.pie-percent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 63px;
  border-radius: 250px;
  height: 250px;
  width: 250px;
  background: conic-gradient(#C86868 0%, #F0E192 50%, #7AAC5B 75%, #3fa544 100%, #00000000 72%);
  z-index: 1;
}

.pie-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 250px;
  height: 250px;
  width: 250px;
  background: conic-gradient(#00000000 0% 73%, #F1F7F6 73% 100%);
  z-index: 2;
}

.pie-number {
  border-radius: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: white;
  width: 204px;
  height: 204px;
  z-index: 3;
}

.main3_col1 {
  width: 83px;
  border-radius: 11px;
  background-color: #709977;
  color: white;
  justify-content: center;
  margin-right: 28px;
}

.main3_col2 {
  width: 146px;
  margin-right: 47px;
  text-align: left;
}

.main3_col3 {
  width: 334px;
  margin-right: 40px;
  text-align: left;
}

.main3_col4 {
  width: 304px;
  margin-right: 47px;
  text-align: left;
}

.main3_col {
  height: 30px;
  font-size: 21px;
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.main3_line {
  display: flex;
  align-items: center;
}

.head1 {
  width: 83px;
  margin-right: 28px;
}

.head {
  font-size: 24px;
  font-weight: 500;
  color: #84928F;
  margin-bottom: 11px;
}

.one_number_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
  font-size: 70px;
}

.one_number_content_small {
  font-size: 35px;
}