@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.root {
  display: flex;
}

.App {
  height: 100%;
  display: flex;
}

.outlet {
  z-index: 1;
  padding-left: 370px;
  width: -webkit-calc(100% - 370px);
  width: -moz-calc(100% - 370px);
  width: calc(100% - 370px);
  height: 100%;
  position: fixed;
  background-color: #F1F7F6;
  overflow-y:auto;
}

.menu-background {
  z-index: 10;
  width: 370px;
  background-color: #0F372C;
  position: fixed;
  height: 100%;
}

.logo {
  font-family: "Ubuntu",
  sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  padding-top: 22px;
  margin-left: 29px;
  color: white;
}

.menu-buttons {
  font-family: "Ubuntu",
  sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  margin-top: 40px;
  margin-left: 29px;
}

.menu-button {
  display: flex;
  margin-bottom: 37px;
  text-decoration: none;
  color: #9BC1B8;
}

.menu-button:hover {
  display: flex;
  margin-bottom: 37px;
  text-decoration: none;
  color: white;
}

.menu-button-active {
  display: flex;
  margin-bottom: 37px;
  text-decoration: none;
  color: white;
}

.menu-icon{
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.menu-text {
  margin-left: 9px;
}

.debt-counter {
  position: absolute;
  background-color: #E16666;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: white;
  left: 15px;
  top: -4px;
}


.dashboard {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  padding-bottom: 30px;
}


.dashboard-title {
  font-family: "Ubuntu",
    sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  margin-top: 22px;
  margin-left: 30px;
}

.chart-title {
  font-family: "Ubuntu",
  sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  padding-top: 16px;
}

.chart {
  background-color: white;
  border-radius: 30px;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 30px;
}

.charts-line {
  display: flex;
  flex-direction: row;
}

.main1 {
  width: calc(400px - 30px);
  height: 400px;
}

.main2 {
  width: calc(713px - 30px);
  height: 400px;
}

.main3 {
  width: calc(1143px - 30px);
  height: 400px;
}

.one_number {
  width: calc(220px - 30px);
  height: 134px;
  background-color: #0F372C;
  color: white;
}

.chart-title-small {
  text-align: center;
  margin-left: -30px;
  margin-top: 12px;
  font-family: "Ubuntu",
  sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.marks4 {
  width: calc(1337px - 30px);
  height: 400px;
  display: flex;
  flex-direction: row;
}

.marks4_1 {
  background-color: #C6DCD8;
  width: 456px;
  margin-left: -30px;
  border-radius: 30px 0px 0px 30px;
  padding-left: 30px;
}

.marks4_2 {
  padding-left: 30px;
  padding-top: 23px;
}

.marks5 {
  width: calc(1337px - 30px);
  height: 481px;
}

.marks5_filter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.marks5_filter {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  font-size: 30px;
  align-items: center;
}

.marks5_filter_title {
  margin-right: 4px;
}

.marks5_filter_selector {
  width: 70px;
  height: 50px;
  background-color: #C6DCD8;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.marks5_filter_value {
  width: 41px;
  text-align: center;
  
}


.marks6 {
  width: calc(667px - 30px);
  height: 481px;
}

.attendance5 {
  width: calc(1100px - 30px);
  height: 400px;
}

.debts2 {
  width: calc(1150px - 30px);
  height: 400px;
}